* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    /* text-align: center; */
}

.color {
    height: 100px;
    width: 100px;
    margin: 10px;
    border: 5px solid #000000;
    border-radius: 20px;
    cursor: pointer;
}

.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* display: flex;
    justify-content: center; */
}

.red {
    background-color: rgb(236, 46, 46);
}
.green {
    background-color: rgb(60, 115, 60);
}
.yellow {
    background-color: rgb(167, 167, 36);
}
.blue {
    background-color: rgb(38, 38, 125);
}

.flash {
    background-color: white;
}

.userflash {
    background-color: rgb(4, 255, 4);
}